<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14369103638-8vq4t1peahk1586cdrb2ffhgjl33pnj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14369103638-8vq4t1peahk1586cdrb2ffhgjl33pnj1</string>
	<key>API_KEY</key>
	<string>AIzaSyC97oO_HP_-DmTEbI6TnXER9ABDEW2FEWI</string>
	<key>GCM_SENDER_ID</key>
	<string>14369103638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gokul.gbc-Project</string>
	<key>PROJECT_ID</key>
	<string>gbc-xcodeproject</string>
	<key>STORAGE_BUCKET</key>
	<string>gbc-xcodeproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14369103638:ios:c67c791d0e57788962fa37</string>
	<key>DATABASE_URL</key>
	<string>https://gbc-xcodeproject.firebaseio.com</string>
</dict>
</plist>